.underlay {
    background-image: url('../assets/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 46rem;
    width: 100%;
}

.header {
    background-color: rgba($color-black-1, .35);
    height: 46rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__text-box {
        text-align: center;
    }

    &__paragraph {
        margin: 0 auto;
        width: 58%;
    }
    &__tag-box {
        background-color: $color-black-1;
        border-radius: 3.8rem;
        display: flex;
        width: 82rem;
        height: 7.6rem;
        margin: 0 auto;
        text-align: left;
        align-items: center;
        justify-content: space-between;

         @media (max-width: 840px) {
            margin: 0.5rem 0;
        }
    }
}