.navigation {
    background-color: rgba($color-black-1, 0.85);
    display: flex;
    justify-content: space-between;
    height: 7.5rem;
    align-items: center;
    padding: 0 14rem;
    position: relative;
    z-index: 2;
    width: 100%;

    @media (max-width: 1180px) {
        padding: 0 2rem;
    }

    &__nav {
        display: inline-block;

        @media (max-width: 850px) {
            position: absolute;
            top: 60%;
            right: 3rem;
            height: 10rem;
            padding: 1rem 0;
            background-color: rgba($color-black-1, 0.85);
            border: 1px solid #fff;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @media (max-width: 850px) {
            height: 100%;
            flex-direction: column;
        }
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-white-1;
            font-size: 1.6rem;
            padding: 0.4rem;
            margin: 2.8rem 2.1rem;
            text-decoration: none;
            border-bottom: 0.3rem solid transparent;
        }

        &:hover,
        &:active {
            color: $color-purple-1;
            border-color: $color-purple-1;
        }
    }



    &__toggle {
        width: 2rem;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        @media (max-width: 850px) {
            display: flex;
        }
    }

    &__dot {
        width: .6rem;
        height: .6rem;
        background: $color-white-1;
        border-radius: 50%;
        margin: .5rem 0;
        margin-left: auto;
    }
}
