
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; 
color: #FFF}

body {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  background-color:#000000; }
  
  .navigation {
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    height: 7.5rem;
    align-items: center;
    padding: 0 14rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0; }
    .navigation__nav {
      display: inline-block; }
    .navigation__list {
      display: flex;
      justify-content: space-between; }
    .navigation__item {
      list-style-type: none; }
    .navigation__link:link, .navigation__link:visited {
      color: #FFF;
      font-size: 1.6rem;
      padding: .4rem;
      margin: 2.8rem 2.1rem;
      text-decoration: none;
      border-bottom: .3rem solid transparent; }
    .navigation__link:hover, .navigation__link:active {
      color: #B58FF0;
      border-color: #B58FF0; }
  
  .hero-image {
    color: rgb(9, 54, 133);
    margin-top: 7.5rem;
  }
  .h1{
    width: 100vw;
    height: 100vh;
    background-color:red;

  }

  .header {
    background-color:#1A1D22;
    height:219px;
    width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }


  .header__text-box{
    font-size: 15px;
    width: 100px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    margin-left: -50px;
    vertical-align: bottom;
  }

  .arrow{
    width: 300px;
    height:200px;
    position: absolute;
    right: 5px;
   
  }

  .boxed {
    background-color:#263062;
   font-family:Roboto Mono;
   font-size: 15px;
   margin-top: 25px;
    width: 1088px;
    height: 53.47px;
    display: flex;
    margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  }
.Text-Editors{
  
  padding-left:90px;
  padding-top: 25px;
 

}
.line{
  margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 1088px;
    
  border: 2px solid#1C1C1C;
  border-radius: 5px;
}
.paragraph{
  font-size:8px;
  font-family:Roboto Mono;
  margin-top: 25px;
  display: flex;
  padding-left:90px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
  .rectangle {
    margin-top: 25px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 536px;
    background-color:rgb(70, 66, 66);
     
  }
