$color-black-1: #000;
$color-black-2: #13161F;
$color-black-3: #130540;

$color-white-1: #FFF;

$color-grey-1: #1A1D22;

$color-red-1: #F6405F;
$color-red-2: #C13949;

$color-green-1: #439176;

$color-blue-1: #5169ED;

$color-purple-1:#B58FF0;
$color-purple-2:#A074E5;
$color-purple-3:#814FCE;

$default-font-family: 'Roboto Mono', monospace;
