.feature-box {
    position: relative;
    line-height: 0;

    * {
        line-height: 1.4;
    }

    &__image {
        max-width: 100%;
    }

    &__inner-overlay {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        width: 50%;
        padding: 3rem;
        height: 100%;
        background: rgba($color-black-1, 0.85);
    }
}
