.heading-primary {
    color: $color-white-1;
    font-weight: 700;
    font-size: 4.5rem;
}

.heading-secondary {
    color: $color-white-1;
    font-size: 3.2rem;
    font-weight: 700;

    @media (max-width: 1180px) {
        font-size: 3.2rem !important;
    }
    @media (min-width: 1920px) {
        font-size: 3.2rem !important;
    }
}

.heading-tertiary {
    color: $color-white-1;
    font-size: 2.1rem;
    font-weight: 700;
    // margin-bottom: 1.5rem;
    @media (max-width: 1180px) {
        font-size: 2.1rem !important;
    }
    @media (min-width: 1920px) {
        font-size: 2.1rem !important;
    }
}

.paragraph {
    color: $color-white-1;
    font-weight: 400;
    font-size: 1.8rem;
    @media (max-width: 1180px) {
        font-size: 1.7rem !important;
    }
    @media (min-width: 1920px) {
        font-size: 1.7rem !important;
    }
}

.tagline {
    color: $color-white-1;

    &--main {
        font-size: 2rem;
        font-weight: 700;
    }

    &--sub {
        font-size: 1.3rem;
        font-weight: 400;
    }
}