.section-featured {
    background-color: $color-grey-1;
    padding: 5rem 14rem;

    .featured-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;

        &__half {
            width: 49.5%;
            display: flex;
            justify-content: space-between;
        }
    }
}
