.btn {
  width: 22.2rem;
  border-radius: 2.2rem;
  height: 4.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none; }
  .btn--red {
    background-color: #F6405F; }
  .btn--purple {
    max-width: 15rem;
    background-color: #A074E5; }
  .btn--black {
    padding: 0 .75rem;
    background-color: #000; }
  .btn span {
    color: #FFF;
    font-size: 1.5rem; }
